.wallet {
  height: 80%;
  width: 50%;
  background-color: gray;
  word-wrap: break-word;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0.19);
  border-radius: 5%;
}

.tokenTable {
  display: flex;
  justify-content: space-evenly;
}

table {
  border: 1px solid black;
}

th {
  padding: 3px;
}

td {
  border: 1px solid black;
}

#tokenInput {
  height: 25px;
  width: 80%;
}
